<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Bell">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="John Bell professional website">
    <title>John Bell</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-items: center; font-family: Arial;">
    <header>
        <nav>
            <a href="../Index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact Me</a>
            <a href="./forfun.html">For Fun</a>
        </nav>
    </header>

    <h1>John Bell</h1>
    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table>
            <tr>
              <td>Name</td>
              <td>Description</td>
            </tr>
            <tr> 
              <td>Institute 1</td>
              <td>This describes institute 1</td>
            </tr>
        </table>

        <a href="../Static/JohnResume.pdf" target="_blank">Resume</a>
    </div>
    
    <footer>John Bell Inc. &copy;</footer>
</body>
</html>