<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Bell">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="John Bell professional website">
    <title>John Bell</title>
</head>
<body style="display: flex; flex-direction: column; align-items: left; justify-items: center; font-family: Arial;">
    <header>
        <nav>
            <ul>
                <li><a href="../Index.html">Home Page</a></li>
                <li><a href="./cv.html">Resume</a></li>
                <li><a href="./contact.html">Get in Touch</a></li>
                <li><a href="./forfun.html">Activities</a></li>
            </ul>
        </nav>
    </header>

    <h1 id="webname"> John Bell</h1>
    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table>
            <tr>
              <td>Name</td>
              <td>Description</td>
            </tr>
            <tr> 
              <td>Institute 1</td>
              <td>This describes institute 1</td>
            </tr>
            <tr> 
                <td>Institute 2</td>
                <td>This describes institute 2</td>
            </tr>
            <tr> 
                <td>Institute 3</td>
                <td>This describes institute 3</td>
            </tr>
            <tr> 
                <td>Institute 4</td>
                <td>This describes institute 4</td>
            </tr>
        </table>

        <a href="../Static/JohnResume.pdf" target="_blank">Resume</a>
    </div>
    
    <footer>John Bell Inc. &copy;</footer>
</body>
</html>