<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="./static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Bell">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="John Bell professional website">
    <title>John Bell</title>
</head>
<body style="font-family: Arial">
    <header>
        <nav>
            <ul>
                <li><a href="../Index.html">Home Page</a></li>
                <li><a href="./cv.html">Resume</a></li>
                <li><a href="./contact.html">Get in Touch</a></li>
                <li><a href="./forfun.html">Activities</a></li>
            </ul>
        </nav>
    </header>

    <h1 id="webname"> John Bell</h1>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <p>Thing 1</p>
        <p>Thing 2</p>
        <p>Thing 3</p>
        <p>Thing 4</p>
        <p>Thing 5</p>
    </div>
    
    <footer>John Bell Inc. &copy;</footer>
</body>
</html>